@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

 /* Base styles */
 * {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
	font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}