@font-face {
    font-family: "Montserrat";
    src: url("./../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

/* Base styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;

}

body {
    font-family: "Montserrat";
    font-size: 1em;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-transform: uppercase;
    font-size: 3.15em;
    font-weight: 800;
}

h2 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 400;
}

h3 {
    text-transform: uppercase;
}

.blue-btn {
    text-transform: uppercase;
    background-color: #7AE5FD;
    padding: 1.05em 1.75em;
    border-radius: 2em;
    font-size: 0.9em;
    color: #000000;
    text-decoration: none;
    border: none;
}

/* Header styles */

header {
    display: flex;
    align-items: center;
    padding: 2.2em 3.94em;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.logo {
    margin-right: auto;
    width: 3.6rem;
    height: 3.6rem;
}

.nav-links {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 3.1em;
    margin-right: 1.3em;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
}

.nav-links li a:hover {
    color: #77c3d1;
}

.blue-btn:hover {
    background-color: #5aa6b4;
    color: #000000
}

/* Main section */

.main-section {
    background-image: url("./../assets/images/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15vh;
    padding: 6rem 4rem;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.main-content {
    width: 45%;
    position: relative;
    z-index: 2;
}

.main-content h1 {
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.main-content p {
    font-size: 1em;
    margin-bottom: 2rem;
}

.white-btn {
    background-color: #FFFFFF;
}

/* Description section */

.purpose-section {
    padding: 8em 3.55rem;
    text-align: center;
}

.purpose-section h2 {
    margin-bottom: 1rem;
}

.purpose-section p {
    font-size: 1.35rem;
}

.purpose-section .subtext {
    color: #73A6B1;
}

/* Fund activity section */

.service-section {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 2.25rem;
    padding-bottom: 10em;
}

.service-content {
    background-color: #F1FDFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 3.1rem;
    gap: 2.25em;
    margin: 0em 3.55em;
    border-radius: 0.5em;
}

.service-content .image {
    width: 100%;
    max-width: 29.25rem;
    height: 21.2rem;
    border-radius: 0.7rem;
    object-fit: cover;
}

.service-content h3 {
    font-size: 2.3em;
    margin-bottom: 1rem;
}

/* Mission section */

.mission-section {
    position: relative;
    align-items: center;
    background-color: #F1FDFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: 4.5rem 3.1rem;
    margin: 11.05em 3.55em;
}

.mission-section .text {
    font-size: 1.36em;
    text-align: left;
    position: relative;
    width: 50%;
    z-index: 3;
}

.mission-images {
    position: absolute;
    bottom: 0;
    left: 48%;
    width: 50%;
    z-index: 2;
    pointer-events: none;
}

.wave {
    max-width: 35.75em;
    position: absolute;
    bottom: 0.5em;
    z-index: 1;
}

.kids {
    position: absolute;
    bottom: 0;
    left: 12%;
    width: 22.7em;
    z-index: 2;
}

/* Support section */

.support-section {
    text-align: center;
    padding: 2rem;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.support-section h2 {
    margin-bottom: 1rem;
}

.support-section p {
    color: #73A6B1;
    margin-bottom: 2rem;
}

.counter-container p {
    font-size: 1.35rem;
    margin-bottom: 1rem;
    color: #000000;
}

.counter {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3.5rem;
}

.counter-divider {
    width: 2px;
    height: 3.4rem;
    background-color: #9AD2DE;
    display: inline-block;
}

/* Contacts section */

.contacts-section {
    padding: 3.55rem;
    background-color: #F9FADF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5em;
}

.contacts-section .contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacts-section .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts-section .contacts .phone-icon {
    width: 1.65em;
    height: 1.6em;
    object-fit: cover;
}

.contacts-section .contacts .phone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22.2em;
}

.contacts-section .contacts .phone-number {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 700;
}

.contacts-section .newsletter {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 3em;
}

.contacts-section .newsletter .envelope {
    max-width: 27.1rem;
    object-fit: cover;
}

.contacts-section .subscribe-block {
    display: flex;
    flex-direction: column;
    max-width: 27.05rem;
    gap: 1.5em;
}

.contacts-section .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.contacts-section .form-input {
    display: flex;
    flex-direction: column;
    background-color: #F9FADF;
    color: #000000;
    padding: 1.05em 1.75em;
    border-radius: 2em;
    font-size: 0.9em;
    /* max-width: 20rem; */
    border: none;
}

/* Responsive styles */

@media (max-width: 1025px) {

    .contacts-section .contacts-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .contacts-section .newsletter {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 950px) {
    .main-content {
        min-height: 70vh;
    }

    .service-content {
        flex-wrap: wrap;
    }

    .purpose-section {
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .white-btn {
        font-size: 0.5em;
    }

}